<ion-view title="" id="page3">
  <ion-content padding="true" scroll="false" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="page3-slider1" style="width:calc(100% + 20px);height:100%;margin-left:-10px;">
      <ion-slide-page id="page3-slide26">
        <h1 id="page3-heading3" style="color:#000000;text-align:center;">Volunteer</h1>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
          <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div id="page3-markdown11" class="show-list-numbers-and-dots">
          <p style="color:#000000;">{{Link to volunteer input}}</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="page3-slide24">
        <h1 id="page3-heading2" style="color:#000000;text-align:center;">Host an Event</h1>
        <div>
          <img src="img/maMyRg4nSWieAK2olr1u_traveler.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <h3 id="page3-heading4" style="color:#000000;text-align:center;">You Can Rescue Children From Human Trafficking. </h3>
        <div id="page3-markdown16" style="text-align:right;" class="show-list-numbers-and-dots">
          <p style="color:#000000;font-size:15px;">Start or Support a Campaign Today! </p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="page3-slide25">
        <h1 id="page3-heading1" style="color:#000000;text-align:center;">Attend an Event</h1>
        <ion-list id="page3-list4">
          <ion-item class="item-thumbnail-left" id="page3-list-item19">
            <h2>Item</h2>
          </ion-item>
          <ion-item id="page3-list-item20">Item</ion-item>
          <ion-item id="page3-list-item21">Item</ion-item>
        </ion-list>
        <div id="page3-markdown14" class="show-list-numbers-and-dots"></div>
        <div id="page3-markdown15" class="show-list-numbers-and-dots">
          <p style="color:#000000;">{{link to events page}}</p>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>