<ion-view title="" id="page3">
  <ion-content padding="true" scroll="false" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="page3-slider1">
      <ion-slide-page id="page3-slide26">
        <h1 id="page3-heading3">Volunteer</h1>
        <div class="slide1-imageBox">
          <i class="icon ion-image" id='slide1-image'></i>
        </div>
        <div id="page3-markdown11" class="show-list-numbers-and-dots">
          <p class="slide1-text">Link to volunteer input</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="page3-slide24">
        <h1 id="page3-heading2">Host an Event</h1>
        <div>
          <img src="img/maMyRg4nSWieAK2olr1u_traveler.jpg" id='slide2-image'>
        </div>
        <h3 id="page3-heading4">You Can Rescue Children From Human Trafficking. </h3>
        <div id="page3-markdown16" class="show-list-numbers-and-dots">
          <p class='slide2-text'>Start or Support a Campaign Today! </p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="page3-slide25">
        <h1 id="page3-heading1">Attend an Event</h1>
        <ion-list id="page3-list4">
          <ion-item class="item-thumbnail-left" id="page3-list-item19">
            <h2>Item</h2>
          </ion-item>
          <ion-item id="page3-list-item20">Item</ion-item>
          <ion-item id="page3-list-item21">Item</ion-item>
        </ion-list>
        <div id="page3-markdown14" class="show-list-numbers-and-dots"></div>
        <div id="page3-markdown15" class="show-list-numbers-and-dots">
          <p class="slide3-text">link to events page</p>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>