<ion-view title="Social Media" id="page5">
  <ion-content padding="true" class="has-header">
    <div id="socialMedia-button-bar2" class="button-bar">
      <button id="socialMedia-button12" class="button button-dark  button-block icon ion-social-twitter"></button>
      <button id="socialMedia-button13" class="button button-dark  button-block button-outline icon ion-social-facebook"></button>
      <button id="socialMedia-button14" class="button button-dark  button-block button-outline icon ion-social-instagram"></button>
    </div>
    <div class="list card" id="socialMedia-card22">
      <ion-item class="item-avatar" id="socialMedia-list-item11">
        <h2>{{twitter.name}}</h2>
      </ion-item>
      <div class="socialImageBox">
        <i class="icon ion-image" id="socialImage"></i>
      </div>
      <div class="item item-body" id="socialMedia-list-item-container4">
        <div id="socialMedia-markdown4" class="show-list-numbers-and-dots">
          <p class="socialPostContent">{{twitter.post}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>